body {
    height:100vh;
    width:100vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    margin:0;
    /* background-color:black; */
}
#root {
    width:100vmin;
    height:100vmin;
    display:grid;
    background-color:black;
    grid-template-rows: repeat(28, 1fr);
    grid-template-columns: repeat(28,1fr);
    
} 
#score, h2  {
    color:white;
}

.orb {
    background-color: rgb(245, 179, 207);
    border:.99vmin solid black;
    /* box-sizing: border-box; */
}
.wall {
    background-color: rgb(0, 0, 161);
}

.power-orb {
    background-color: rgb(248, 143, 187);
    border:.25vmin solid black;
    border-radius: 50%;
}
.puck-man {
    background-color:yellow;
    border-radius: 50%;
}
#game {
    background-color: pink ;
    width:100vmin;
    height:100vmin;
}
