body {
    height:100vh;
    width:100vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    margin:0;
    background-color:black;
}
#root {
    width:100vmin;
    height:100vmin;
    display:grid;
    background-color:azure;
    grid-template-rows: repeat(28, 1fr);
    grid-template-columns: repeat(28,1fr);
    
} 
#score, h2  {
    color:white;
}

.orb {
    background-color: whitesmoke;
    border:.25vmin solid whitesmoke;
}
.wall {
    background-color: blue;
}

.power-orb {
    background-color: red;
    border-radius: 50%;
}
